<style>
    :root {
        --pink: #7F27FF;
        --bg: #ffff;
        --text: #282828;
        --sec: #ffffff;
    }

    .darkmd {
        --pink: #7F27FF;
        --bg: #282828;
        --text: #ffffff;
        --sec: #31363F;
    }

    .dark {
        border: none;
        color: var(--text) !important;
        background-color: transparent;
    }

    .bg {
        background-color: var(--bg) !important;
    }

    .secbg {
        background-color: var(--sec) !important;
    }

    .texts {
        color: var(--text) !important;
    }
    .texts i{
        color: var(--text);
    }

    .btn-search {
        background-color: var(--pink);
        color: var(--bg);
        border-radius: 25px;
        padding: 0 1rem;
    }

    .btn-search:hover {
        background-color: var(--pink);
        color: var(--bg);
    }

    .btn-search i {
        display: inline;
        margin-right: 0.5rem;
    }

    .search-inp {
        border-radius: 25px;
        padding: 0.5rem 3rem;
    }

    .navColor {
        background: var(--sec);
    }

    .navbar-nav {
        margin: 5px;
    }

    .offcanvas-body {
        padding: 1rem;
    }

    .list-group-item {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        padding: 0.75rem 1rem;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .list-group-item:last-child {
        border-bottom: none;
    }

    .list-group-item .fa {
        margin-right: 1rem;
    }

    .offcanvas-header h5 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    .profile-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offcanvas-header {
        display: block;
    }

    .close-div {
        display: flex;
    }

    .profile-img-navbar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    input::placeholder {
        color: var(--text) !important;
        opacity: 1;
    }

    .navbtn {
        background-color: #ffffff !important;
    }

    @media (max-width: 990px) {
        .navbar-brand {
            display: none;
        }
    }

    @media (min-width: 990px) {
        .navbar-brand-profile {
            display: none;
        }
    }

    @media (max-width: 990px) {
        .sidebar-profile {
            display: none;
        }
    }

    .search-inp:focus {
        box-shadow: 0 0 0 0.2rem var(--pink) !important;
        border-color: var(--pink) !important;
    }

    .search-inp {
        border-color: var(--text) !important;
        background-color: var(--bg) !important;
    }

    .navbar-brand-signup-login {
        display: flex;
        flex-direction: row;
    }

    .dropdown-menu .dropdown-item {
        color: var(--text);
    }

    .dropdown-menu .dropdown-item:hover {
        background-color: var(--pink);
        color: var(--bg);
    }

    .dropdown-toggle::after {
        margin-left: 0.5rem;
    }
</style>

<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary secbg">
    <div class="container-fluid secbg">
        <button class="navbar-toggler texts navbtn me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav me-4 mt-2">
            <h4 class="texts">VoyaBook</h4>
        </div>
        <div class="navbar-brand-profile ms-auto texts">
            <% if(!currUser) { %>
                <div class="navbar-brand-signup-login">
                    <div class="navbar-nav">
                        <a class="nav-link texts" href="/signup">Sign up</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-link texts" href="/login">Log in</a>
                    </div>
                </div>
            <% } else { %>
                <button class="nav-link texts" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                    <img src="<%=currUser.image.url%>" style="object-fit: cover;" alt="Profile Image" class="profile-img-navbar ms-3">
                </button>
            <% } %>
        </div>
        <div class="collapse navbar-collapse navColor texts" id="navbarNavAltMarkup">
            
            <div class="bright-dark-mode me-4 mt-3 ms-3">
                <button class="dark" id="mode"><i class="fa-solid fa-moon" style="font-size: larger;"></i></button>
            </div>
            <div class="navbar-nav me-4">
                <a class="nav-link texts" href="/listings">Home Page</a>
            </div>
            <div class="navbar-nav me-4">
                <a class="nav-link texts" href="/listings/new">Post <i class="fa-solid fa-circle-plus"></i></a>
            </div>
            <div class="navbar-nav me-4">
                <a class="nav-link texts" href="/plan">Connect & Plan <i class="fa-solid fa-handshake"></i></a>
            </div>
            <div class="navbar-nav dropdown me-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu secbg">
                    <li><a class="dropdown-item texts" href="/listings/categories/Mountains">Mountains</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Beaches and Coastal Areas">Beaches and Coastal Areas</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Forests and Jungles">Forests and Jungles</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Deserts">Deserts</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Historical and Cultural Sites">Historical and Cultural Sites</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Urban Destinations">Urban Destinations</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Countryside and Rural Areas">Countryside and Rural Areas</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Islands">Islands</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Lakes and Rivers">Lakes and Rivers</a></li>
                    <li><a class="dropdown-item texts" href="/listings/categories/Special Interest and Seasonal Attractions">Special Interest and Seasonal Attractions</a></li>
                </ul>
            </div>
            <div class="navbar-nav me-4">
                <a class="nav-link texts" href="/listings/topRated">Trending <i class="fa-solid fa-fire"></i></a>
            </div>
            <div class="navbar-nav ms-auto d-flex align-items-center">
                <% if(!currUser) { %>
                    <div class="navbar-nav sidebar-profile">
                        <a class="nav-link texts" href="/signup">Sign up</a>
                    </div>
                    <div class="navbar-nav sidebar-profile">
                        <a class="nav-link texts" href="/login">Log in</a>
                    </div>
                <% } else { %>
                    <div class="navbar-nav sidebar-profile">
                        <button class="nav-link texts" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                            <%=currUser.username%>
                            <img src="<%=currUser.image.url%>" style="object-fit: cover;" alt="Profile Image" class="profile-img-navbar ms-3">
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>

<% if(currUser) { %>
    <div class="offcanvas offcanvas-end secbg" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header secbg">
            <div class="close-div secbg">
                <h5 class="texts"> </h5>
                <button type="button" class="btn-close texts" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="profile-head secbg">
                <a href="/profile">
                    <img src="<%=currUser.image.url%>" style="object-fit: cover;" alt="Profile Image" class="profile-img mb-3">
                </a>
                <h5 id="sidebarLabel" class="texts">
                    <%= currUser.username %>
                </h5>
            </div>
        </div>
        <div class="offcanvas-body secbg">
            <ul class="list-group secbg">
                <li class="list-group-item secbg">
                    <i class="fas fa-user me-2 "></i>
                    <a class="nav-link texts" href="/u/<%=currUser.username%>">View Profile</a>
                </li>
                <li class="list-group-item secbg">
                    <i class="fas fa-user me-2"></i>
                    <a class="nav-link texts" href="/profile">Edit Profile</a>
                </li>
                <li class="list-group-item secbg">
                    <i class="fa-solid fa-house me-2 "></i>
                    <a class="nav-link texts" href="/listings/myBookmarks">My Bookmarks</a>
                </li>
                
                <li class="list-group-item secbg">
                    <i class="fas fa-sign-out-alt me-2"></i>
                    <a class="nav-link texts" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
<% } %>
