<% layout("layouts/boilerplate") %>
<div class="mb-3 ">
    <div class="col-6 offset-2 ">
        <br><br>
        <h2>Sort By Booking Date</h2>
        <br>
        <form method="POST" action="http://localhost:8080/allBookings">
            <div class="mb-3">
                <label for="from" class="form-label">From</label>
                <input name="from" type="date" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="to" class="form-label">Location</label>
                <input  name="to" type="date" class="form-control" >
            </div class="mb-3">
            <button class="btn btn-dark add-btn">Apply</button>
    </div>
</div>

    <h3 style="text-align: center;">All Bookings</h3>
    <table class="table table-striped table-hover">
        <caption>All Bookings</caption>
        <tr>
            <th>Booking Date</th>
            <th>User</th>
            <th>Reserved From</th>
            <th>Reserved till</th>
            <th>Phone</th>
            <th>Hotel</th>
            <th>Owner</th>
            <th>Amount</th>
            <th>Guests</th>
        </tr>

        <% for(booking of allBookings) {%>
            <tr>
                <th>
                    <%=booking.bookedAt.toString().split(" ").slice(0,4).join(" -")%>
                </th>
                <th>
                    <%=booking.customer.username%>
                </th>
                <th>
                    <%=booking.startDate.toString().split(" ").slice(0,4).join(" -")%>
                </th>
                <th>
                    <%=booking.endDate.toString().split(" ").slice(0,4).join(" -")%>
                </th>
                <th>
                    <%=booking.phone%>
                </th>
                <th>
                    <%=booking.listing.title%>
                </th>
                <th>
                    <%=booking.listing.owner.username%>
                </th>
                <th></b>&#8377; <%=booking.listing.price.toLocaleString("en-IN")%></th>
                <th>
                    <%=booking.guestCount%>
                </th>
            </tr>
            <%}%>
                <th></th>
    </table>
    </div>